.item-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 15rem;
    width: 78%;
    margin:0 auto;
    
  }
.card{
    margin-top: 15px;
}
/* html,body
{
    background-image: url("backgroudImage/img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
} */
.item-row{
    margin: 20px;
    padding: 20px;
    font-family: 'Goldman', cursive;
}
footer{ 
    width: 100%;
    background: #1b1b1c;
    padding: 20px 0px;
    margin-top: 25px;
    padding-bottom: 0px
}
.footer{
    color: white;
    font-size: 13px;
}
.footer b{
    text-align: center;
    color: #01d5b0;
    font-size: 22px;
    font-weight: bolder;
    line-height: 50px;
    display: block;
    border-right: 1px solid white
}
.list-ft{
    color: #01d5b0;
    font-weight: bolder;
    height: 45px;
    font-size: 15px;
    padding-left: 0!important
}
.button{
    height: 37.5px;
    padding: 8px;
}
.margin{
    margin-right: 50px;
}